[submodule "SwiftGRPC"]
	path = SwiftGRPC
	url = https://github.com/bloombox/grpc-swift.git
	branch = update-0-6-0
[submodule "Schema"]
	path = Schema
	url = git@github.com:bloombox/Schema.git
	branch = feature/purchases
