[submodule "SwiftProtobuf"]
	path = SwiftProtobuf
	url = git@github.com:apple/swift-protobuf.git
	branch = master
[submodule "SwiftGRPC"]
	path = SwiftGRPC
	url = git@github.com:grpc/grpc-swift.git
	branch = master
